page-evententer {
    .list {
        margin: 0;
        margin-top: 16px;

        .item {
            padding: 12px;
            align-items: flex-start;
            width: calc(100% - 32px);
            margin: 0 auto;
            margin-bottom: 14px;
            border-radius: 8px;

            .img_box {
                min-width: 78px;
                width: 78px;
                height: 78px;
                overflow: hidden;
                border-radius: 8px;
                margin-right: 15px !important;
                position: relative;

                &[item-start] {
                    margin: 0;
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: -50% !important;
                    bottom: 0;
                    right: -50% !important;
                    margin: auto;
                }
            }

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;

                    h2 {
                        margin: 0;
                        font-size: 1.8rem;
                        font-weight: 500;
                    }

                    h3 {
                        font-size: 1.1rem;
                        font-weight: 500;
                        color: $gray;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        //padding-top: 8px;


                    }

                    .item_bottom_side {
                        margin-top: 9px;

                        h4 {
                            font-size: 1.3rem;
                            font-weight: 500;
                            align-items: flex-end !important;

                            span {
                                font-size: 1.1rem;
                                color: $gray;
                                margin: 0 5px,
                            }
                        }

                        .button.btn[block] {
                            margin: 0;
                            height: 30px;
                            font-size: 1.2rem;
                            width: 165px;
                            color: $theme-color;
                            background: lighten($gray, 40%);
                        }
                    }
                }
            }
        }
    }
}
